.income {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.income1 {
  flex: 1;
  text-align: center;
}

.income2{
  flex: 1;
  text-align: center;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #16522f;
  background-color: rgb(252, 241, 241);
}

.money.minus {
  color: #c0392b;
  background-color: rgb(252, 241, 241);
}